Repository getcronit/pylon, pull requests merged in 2024-11, with the labels that each got.

#44 feat: add interface and union support
  docs/pages/blog/_meta.json
  docs/pages/blog/pylon-2.3.mdx
  docs/pages/docs/core-concepts/_meta.json
  docs/pages/docs/core-concepts/interfaces-and-unions.mdx
  docs/pages/docs/core-concepts/type-safety-and-type-integration.mdx
  docs/pages/docs/release-notes/_meta.json
  docs/pages/docs/release-notes/v2.3.mdx
  examples/interfaces-and-unions/.dockerignore
  examples/interfaces-and-unions/.gitignore
  examples/interfaces-and-unions/README.md
  examples/interfaces-and-unions/package.json
  examples/interfaces-and-unions/pylon.d.ts
  examples/interfaces-and-unions/src/index.ts
  examples/interfaces-and-unions/tsconfig.json
  packages/pylon-builder/src/bundler/bundler.ts
  packages/pylon-builder/src/index.ts
  packages/pylon-builder/src/schema/builder.ts
  packages/pylon-builder/src/schema/schema-parser.ts
  packages/pylon/src/define-pylon.ts
Labels: ci

#48 chore(release-note): fix incorrect link to example
  docs/pages/docs/release-notes/v2.4.mdx
Labels: 📖 aspect: docs, ci

#42 feat(create-pylon): add support for Deno runtime
  docs/pages/docs/faq.mdx
  docs/pages/docs/getting-started.mdx
  packages/create-pylon/package.json
  packages/create-pylon/src/detect-pm.ts
  packages/create-pylon/src/index.ts
  packages/create-pylon/templates/deno/default/.vscode/extensions.json
  packages/create-pylon/templates/deno/default/.vscode/settings.json
  packages/create-pylon/templates/deno/default/Dockerfile
  packages/create-pylon/templates/deno/default/deno.json
  packages/create-pylon/templates/deno/default/src/index.ts
  packages/pylon/README.md
Labels: 📖 aspect: docs

#53 Rework landing page
  docs/components/landing.tsx
  docs/components/ui/glowing-stars-card.tsx
  docs/components/ui/hover-border-gradient.tsx
Labels: ci

#49 docs: rework landing page
  docs/bun.lockb
  docs/components/clipboard-button.tsx
  docs/components/landing.tsx
  docs/components/ui/card.tsx
  docs/components/ui/glowing-stars-card.tsx
  docs/components/ui/hover-border-gradient.tsx
  docs/next.config.js
  docs/package.json
  docs/pages/_meta.json
  docs/theme.config.tsx
Labels: 📖 aspect: docs, ci
